.background-container-banner{
    background-image: url('/images/Pic14.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  min-height: 50rem;
//   background-color: black;
  color: white; /* Optional: change text color to ensure it's visible on the background */ 
}
.line-height{
    line-height: 1.7;
}