<div class="background-container-banner mt-3 ">
    <div class="grid grid-cols-12 p-11">
        <div class="col-span-9 flex items-center justify-center">
            <h3>أصالة تنسجها ايادينا ... وأناقة تختارها بنفسك</h3>
        </div>
        <div class="col-span-3">
            <img src="/images/Pic18.png">
        </div>
        <div class="col-span-3 mt-8">
            <img src="/images/Pic20.png">
        </div>
        <div class="col-span-3 py-2 px-6 mt-8">
            <div>الأصالة من الجذور</div>
            <p class="text-xs pt-4 text-gray-400">
                منذ القدم، تميزت الحرف اليدوية في المملكة العربية
                يمتد عبر األجيال.
                السعودية بأصالتها التي تعكس تراثًا عريقًا
                ورغم تغير الزمان، ظلت مهنة الخياطة تمثل جزءًا من هذا
                عبر كل غرزة وكل نسيج عن ارتباط عميق بالتقاليد
                التراث، حيث ُت
                والقيم األصيلة للمجتمع السعودي. نحن نسعى للحفاظ على
                هذا اإلرث من خالل تصميمات تدمج بين الحرف اليدوية
                التقليدية والتقنيات الحديثة، مما يخلق أزياء تحمل في طياتها
                قصة من التقاليد المتجذرة في األرض السعودية
            </p>
        </div>
        <div class="col-span-3 mt-8">
            <img src="/images/Pic19.png">
        </div>
        <div class="col-span-3 py-2 px-6 mt-8">
            <div> من البيئة السعودية إلى الثوب الأنيق </div>
            <p class="text-xs pt-4 text-gray-400">

                البيئة السعودية بثرائها الطبيعي وثقافتها المتنوعة،
                مصدر إلهام ال ينضب لمصممي األزياء. من الصحارى الشاسعة
                إلى الجبال الشامخة، ومن العمارة النجدية إلى األسواق
                التقليدية، كل مكّون من مكونات هذه البيئة يشكل لوًنا
                وزخرفة في قطع األزياء التي نصنعها. نستمد من ألوان
                الطبيعة ومالمح الثقافة المحلية تفاصيل مميزة نترجمها إلى
                تصاميم فاخرة، حيث تحمل كل قطعة من المالبس جزءًا من
                روح الوطن
            </p>
        </div>
        <div class="col-span-3 py-2 px-6 mt-8">
            <div>رسالة األصالة للمستقبل</div>
            <p class="text-xs pt-4 text-gray-400">
            رغم تطور الموضة العالمية، تبقى األصالة جوهر عملنا، حيث
            نسعى لنقلها إلى األجيال القادمة بنفس الحرفية والدقة التي
            تميزنا منذ البداية. نحن نعمل على تعزيز قيم الحرفة التقليدية
            ودمجها مع األساليب الحديثة، لنخلق تجربة فريدة تجمع بين
            الماضي والحاضر. نؤمن بأن الحفاظ على األصالة ال يعني العودة
            إلى الوراء، بل هو خطوة نحو األمام، تعزز من قيمنا وتربطنا
            بشكل أعمق ببيئتنا وثقافتنا
            </p>
        </div>
        <div class="col-span-3 mt-8">
            <img src="/images/Pic22.png">
        </div>
        <div class="col-span-3 py-2 px-6 mt-8">
            <div>خيوط تعبر عن الهوية</div>
            <p class="text-xs pt-4 text-gray-400">
            تعتبر األزياء التقليدية جزءًا ال يتجزأ من الهوية السعودية،
            وتعكس الكثير من المعاني والتاريخ. نحن نؤمن بأن كل ثوب
            يحمل قصة، وأنه يجب أن يكون تجسيًدا للهوية والشخصية. لهذا،
            نحرص على تقديم قطع تعبر عن األصالة والتراث مع لمسة من
            الحداثة، لتالئم كافة األذواق والمناسبات. في كل تصميم، نختار
            بعناية األقمشة والنقوش التي تعكس الروح السعودية، مما
            يجعل كل قطعة فريدة بمظهرها وأصلها.
            </p>
        </div>
        <div class="col-span-3 mt-8">
            <img src="/images/Pic21.png">
        </div>
    </div>
</div>